<div class="center">
  <u><h4>APPOINTMENT</h4></u>
  <form>
    <p>
      <select class="form-control" id="sel1">
        <option value="" disabled selected>Doctor Name</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </p>
    <p>
      <select class="form-control" id="sel1">
        <option value="" disabled selected>Patient Name</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </p>
    <p><input type="text" class="form-control" id="diseases" placeholder="Diseases"></p>
    <button type="button" class="btn btn-warning pull-right">Submit</button>
</form>
</div>
