<div class="center">
  <u><h4>DOCTOR</h4></u>
  <form>
    <p><input type="text" class="form-control" id="docname" placeholder="Name"></p>
    <p><input type="text" class="form-control" id="docphone" placeholder="Phone Number"></p>
    <p><input type="text" class="form-control" id="docspecialization" placeholder="Specialization"></p>
    <button type="button" class="btn btn-warning pull-right">Submit</button>
  </form>
</div>
