<div class="col-lg-6 top-left" id="div1">
  <%= render :partial => 'welcome/patient'%>
</div>
<div class="col-lg-6 top-right" id="div2">
  <%= render :partial => 'welcome/doctor'%>
</div>
<div class="col-lg-6 bottom-left" id="div3">
  <%= render :partial => 'welcome/appointment'%>
</div>
<div class="col-lg-6 bottom-right table-responsive" id="div4">
  <%= render :partial => 'welcome/appointment_list'%>
</div>
